<header class="nav">
  <h1 class="site-title">Aragon Open Trails</h1>
  <form action="/tracks">
    <input id="input" type="search" name="term" class="is-hidden" />
    <button id="submit" type="submit"><img src="/img/search.png"></button>
    <input type="hidden" name="lat" />
    <input type="hidden" name="lon" />
  </form>
</header>

<div class="content">
  <div id="map"></div>

  <div class="results">
    <ul>
      <% @tracks.each do |track| %>
      <% track_id = track['track_id'] %>
      <li class="result clearfix">
        <a href="/tracks/<%= track_id %>"><img src="/track/<%= track_id %>/photo.jpg" alt="" height="80px" width="80px" class="result-thumbnail" /></a>

        <a href="/tracks/<%= track_id %>" class="result-title"><%= track['name'] %></a>
        <div class="result-description">
          <p><i class="icon i-distance"></i> <%= track['horizontal_distance'] %> km</p>
          <p><i class="icon i-time"></i> <%= track['aproximated_time'] %> h</p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
