<header class="nav">
  <a href="/" class="back"><i class="icon i-l i-back"></i></a>

  <h1 class="site-title truncate"><%= @cartodb_obj['name'] %></h1>
</header>

<div class="content">
  <div id="map"></div>

  <div class="results">
    <ul>
      <li class="result clearfix">
        <div class="result-header clearfix">
          <img src="/track/<%= @track_id %>/photo.jpg" alt="" height="80px" width="80px" class="result-thumbnail" />

          <h3 class="result-title"><%= @cartodb_obj['name'] %></h3>
          <div class="result-description">
            <p><i class="icon i-distance"></i><%= @cartodb_obj['horizontal_distance'].to_f/1000 %> km</p>
            <p><i class="icon i-time"></i><%= @cartodb_obj['aproximated_time'] %> min</p>
            <p><i class="icon i-elevation"></i><%= @distances[:max_elevation].to_i %> m</p>
          </div>
        </div>

        <div class="result-ads">
          <% @hotels.each do |h| %>
            <p><strong><%= h.split(',')[0] %></strong><%= h.split(',')[1..-1].join(', ') %></p>
          <% end %>
          <p><small><a href="mailto:matallo+jacathon@gmail.com">Anunciate aquí</a></small></p>
        </div>

        <div class="result-content">
          <p>
            <img src="/track/<%= @track_id %>/altitude_profile.png">
          </p>

          <p>
          <%= @cartodb_obj['_desc'] %>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
